body{
background-color: rgb(221, 167, 167);
color:rgb(255, 1, 179);

}

.wrapper{
   margin:0 auto;
   display: grid;
grid-template-rows: 80px 80px auto 50px;
gap:10px;
grid-template-areas: 
"header"
"nav"
"main"
"footer";
}

header{
    grid-area: header;

    
}

nav{
    grid-area: nav;
    background-color: rgb(238, 238, 238);
}
nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

h1{
    text-align:center;
    font-family: arial;
    font-size:22px;
}
.program-stycke{
    text-align:right;
 background-color: rgb(207, 129, 129);
 color:rgb(245, 245, 245);

}

a{
    text-decoration: none;
}
.saffe{
    border: 1px solid black;
    padding: 10px;
    
}