*

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    color: rgb(207, 129, 129);
    
}



body{

background-color: rgb(68, 65, 82);;


}
h1{ 
color: rgb(207, 129, 129);

}